{% extends 'calendar.html' %}

{% block content %}

<style>
	div			{
				padding-top:		5px;
				padding-bottom:		5px;
				}
	#main			{
				width:			600px;
				}
</style>

<!-- preload images -->
<img class=invisible src="static/Arrow-left_down.png">
<img class=invisible src="static/Arrow-right_down.png">

<center>

<div id=main>
	<h2>{{ date }}</h2>
	<a class=arrow id=left href="#"></a>
	<iframe class=Day src="simplelist?date={{ date }}"></iframe>
	<a class=arrow id=right href="#"></a>
</div>

<br/>

[ <a href="javascript:NewEvent();">New Event</a> ]

<br/><br/>

{% include 'search.html' %}

{% include 'edit.html' %}

{% endblock %}
