<html>

<link rel="stylesheet" type="text/css" href="static/list.css" />

<body>
	[ <a href="simplelist">simplelist</a> ]

	<table class=event_table cellspacing=0>
	{% for day in days %}
		<tr class=separator>
			<td> </td>
			<td align=left>{{ day.date|date:"F" }}</td>
			<td align=right>{{ day.date|date:"d.M.Y" }}</td>
		</tr>
		{% for event in day.events %}
			<tr class=event id="tr_{{ event.id }}">
				<td>
					<input type=checkbox id="checkbox_{{ event.id }}" {{ event.selected }}/>
				</td>
				<td align=right onClick="parent.Edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.start }}</td>
				<td align=left onClick="parent.Edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.end }}</td>
				<td class=edit onClick="parent.Edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.summary }}</td>
	
			</tr>
		{% endfor %}
	{% endfor %}
	</table>

	<script>
		document.onkeydown = function(evt) {
		    evt = evt || window.event;
		    if (evt.keyCode == 27) {
			parent.FadeOut('divEdit',1);
		    }
		};
	</script>
</body>

</html>
