<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<html>

<head>
	<title>Calendar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="static/fader.js"></script>
</head>

<style>
	body		{
			text-align:			center;
			font-size:			10pt;
			overflow:			hidden;
			background-color:		#d7d7f6;
			}
	div.body	{
			border:	none;
			background-color: #7474cf;
			position: absolute;
			}
</style>

<body>

<br/>
<h1>Calendar</h1>
[ <a href="today">today</a> | <a href="threedays">3 days</a> | <a href="week">week</a> | <a href="month">month</a> ]
<br/><br/><br/>

{% block content %}{% endblock %}

</body>

</html>
