<style>
	#divEdit		{
				position:		absolute;
				top:			250px;
				left:			350px;
				background-color:	#bfbfbf;
				opacity:		0;
				visibility:		hidden;
				}

	#divEdit table		{
				font-size:	12pt;
				padding:	5px;
				spacing:	2px;
				}

	#divEdit input		{
				border:		1px solid gray;
				font-size:	12pt;
				text-align:	center;
				width:		450px;
				}

	#divEdit input.button	{
				font-size:	12pt;
				text-align:	center;
				width:		80px;
				}
	#divEdit input.button:hover	{
				border:			1px solid #485879;
				background-color:	#8a8ae9;
				}
</style>

<div id=divEdit>
	<form action=save method=POST>
		<input type=hidden name=id id=edit_id value=''/>

		<table>
			<tr>
				<td colspan=2 align=right><img src="static/close.png" height=20 /></td>
			</tr>
			<tr>
				<td>Start:</td>
				<td><input type=text name=start id=edit_start /></td>
			</tr>
			<tr>
				<td>End:</td>
				<td><input type=text name=end id=edit_end /></td>
			</tr>
			<tr>
				<td>Summary:</td>
				<td><input type=text name=sumamry id=edit_summary /></td>
			</tr>
			<tr>
				<td>
					<input type=button class=button value=Delete onClick="FadeOut('divEdit',1);"/>
				</td>
				<td align=right>
					<input type=submit class=button value=Save />
					<input type=button class=button value=Cancel onClick="FadeOut('divEdit',1);"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<script>
	function edit( id, start, end, summary ) {
		document.getElementById('edit_id').value = id;
		document.getElementById('edit_start').value = start;
		document.getElementById('edit_end').value = end;
		document.getElementById('edit_summary').value = summary;
		FadeIn('divEdit', 0);
		}

	function create() {
		document.getElementById('edit_id').value = 'new';
		document.getElementById('edit_start').value = "";
		document.getElementById('edit_end').value = "";
		document.getElementById('edit_summary').value = "";
		FadeIn('divEdit', 0);
		}
</script>

