{% extends 'listwrapper.html' %}

{% block 'list' %}
<div id=divListing>
	<table cellspacing=0>
	{% for day in days %}
		<tr class=separator>
			<td> </td>
			<td align=left>{{ day.date|date:"F" }}</td>
			<td align=right>{{ day.date|date:"d.M.Y" }}</td>
		</tr>
		{% for event in day.events %}
			<tr class=event id="tr_{{ event.id }}">
				<td>
					<input type=checkbox id="checkbox_{{ event.id }}" {{ event.selected }}/>
				</td>
				<td align=right onClick="edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.start }}</td>
				<td align=left onClick="edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.end }}</td>
				<td class=edit onClick="edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.summary }}</td>
	
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
</div>
{% endblock %}
