
body			{
			font-size:		8pt;
			}

table.event_table	{
			width:			380px;
			padding:		5px;
			font-size:		10pt;
			}
tr.event		{
			background-color: 	white;
			cursor:			pointer;
			color:			black;
			}
tr.event:hover		{
			background-color:	#628bb5;
			color:			white;
			}

