{% extends 'calendar.html' %}

{% block content %}

<br/><br/>

<style>
	div		{
			border:		1px solid black;
			background-color: white;
			position:	static;
			}

	#divSearch	{
			width:		400px;
			height:		35px;
			}
	#divSearch input {
			position:	relative;
			top:		5px;
			width:		390px;
			font-size:	8pt;
			text-align:	right;
			}

	#divListing	{
			width:		400px;
			min-height:	300px;
			max-height:	600px;
			padding-top:	5px;
			padding-bottom:	5px;
			overflow:	scroll;
			overflow-x:	hidden;
			}
	#divListing table {
			width:		380px;
			font-size:	8pt;
			padding:	5px;
			}
	#divListing tr.separator	{
			background-color: gray;
			}
	#divListing tr.event	{
			background-color: white;
			color:		black;
			}
	#divListing tr.event:hover	{
			background-color: blue;
			color:		white;
			}
	#divListing td.edit {
			text-align:	left;
			cursor:		pointer;
			}
	input.upbutton	{
			width:		380px;
			height:		20px;
			}
	input.downbutton {
			width:		380px;
			height:		20px;
			}
	#divListing input.singlemenu {
			background-color: blue;
			width:		20px;
			height:		20px;
			}

	#divEdit	{
			position:	absolute;
			top:		150px;
			left:		400px;
			opacity:	0;
			}
	#divEdit table	{
			font-size:	8pt;
			padding:	5px;
			spacing:	2px;
			}
	#divEdit input	{
			border:		1px solid gray;
			font-size:	8pt;
			text-align:	center;
			width:		250px;
			}
	#divEdit input.button	{
			font-size:	8pt;
			text-align:	center;
			width:		80px;
			}

</style>

{% include 'edit.html' %}

<center>

<div id=divSearch>
	<input type=text name=search />
</div>

<br/>

<script>
	function selectAll() {
		}
</script>

<input type=button class=upbutton />
<div id=divListing>
<table cellspacing=0>
{% for day in days %}
	<tr class=separator>
		<td> </td>
		<td align=left colspan=3>{{ day.date|date:"F" }}</td>
		<td align=right colspan=2>{{ day.date|date:"d.M.Y" }}</td>
	</tr>
{% for event in day.events %}
	<tr class=event id="tr_{{ event.id }}">
		<td><input type=checkbox id="checkbox_{{ event.id }}" {{ event.selected }}/></td>
		<td align=right>{{ event.start }}</td>
		<td>-</td>
		<td align=left>{{ event.end }}</td>
		<td class=edit onClick="edit('{{ event.id }}','{{ event.start }}','{{ event.end }}','{{ event.summary }}');">{{ event.summary }}</td>
		<td><input type=button class=singlemenu value=""/></td>
		
	</tr>
{% endfor %}
{% endfor %}
	<tr class=event>
		<td><input type=checkbox onClick="selectAll();"/></td>
		<td colspan=5> </td>
	</tr>
</table>
</div>
<input type=button class=downbutton />

{% endblock %}
