{% extends 'listwrapper.html' %}

{% block 'list' %}
<div id=divListing>
	<table cellspacing=0>
		{% for Event in Events %}
		<tr class=event id="tr_{{ Event.id }}">
			<td width="8%">
				<input type=checkbox id="checkbox_{{ Event.id }}"/>
			</td>
			<td width="30%" onClick="Edit('{{ Event.id }}','{{ Event.start|date:'d.m.Y H:i' }}','{{ Event.end|date:'d.m.Y H:i' }}','{{ Event.summary }}');">{{ Event.start|date:'d.m.y H:i' }}</td>
			<td width="30%" onClick="Edit('{{ Event.id }}','{{ Event.start|date:'d.m.Y H:i' }}','{{ Event.end|date:'d.m.Y H:i' }}','{{ Event.summary }}');">{{ Event.end|date:'d.m.y H:i' }}</td>
			<td width="*" align=right onClick="Edit('{{ Event.id }}','{{ Event.start|date:'d.m.Y H:i' }}','{{ Event.end|date:'d.m.Y H:i' }}','{{ Event.summary }}');">{{ Event.summary }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
