{% include 'minical.html' %}
{% include 'miniclock.html' %}

<link rel="stylesheet" type="text/css" href="static/edit.css" />

<div id=divEdit>
	<form action=save method=GET>
		<input type=hidden name=id id=edit_id value=''/>

		<table>
			<tr>
				<td colspan=2 align=right>
					<img class=close src="static/close.png" width=20 height=20 onClick="FadeOut('divEdit',1);" />
				</td>
			</tr>
			<tr>
				<td>Start:</td>
				<td>
					<input type=text name=startdate id=edit_startdate class=datetime />
					<img class=datetime src="static/Office-calendar-modified.png" onClick="minical('edit_startdate');" />
					<input type=text name=starttime id=edit_starttime class=datetime />
					<img class=datetime src="static/Orologio_blu.png" onClick="miniclock('edit_starttime');"/>
				</td>
			</tr>
			<tr>
				<td>End:</td>
				<td>
					<input type=text name=enddate id=edit_enddate class=datetime />
					<img class=datetime src="static/Office-calendar-modified.png" onClick="minical('edit_enddate');"/>
					<input type=text name=endtime id=edit_endtime class=datetime />
					<img class=datetime src="static/Orologio_blu.png" onClick="miniclock('edit_endtime');"/>
				</td>
			</tr>
			<tr>
				<td>Summary:</td>
				<td colspan=2><input type=text name=summary id=edit_summary class=summary /></td>
			</tr>
			<tr>
				<td>
					<input type=button class=button id=DeleteButton value=Delete onClick="DeleteEvent();"/>
				</td>
				<td align=right>
					<input type=submit class=button value=Save />
					<input type=button class=button value=Cancel onClick="FadeOut('divEdit',1);"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<script>
	function Edit( id, startdate, starttime, enddate, endtime, summary ) {
		document.getElementById('edit_id').value = id;
		document.getElementById('edit_startdate').value = startdate;
		document.getElementById('edit_starttime').value = starttime;
		document.getElementById('edit_enddate').value = enddate;
		document.getElementById('edit_endtime').value = endtime;
		document.getElementById('edit_summary').value = summary;
		document.getElementById('DeleteButton').style.visibility = "visible";
		FadeIn('divEdit', 0);
		}

	function NewEvent() {
		var d = new Date();
		now = d.getHours()+":"+d.getMinutes();
		lh = d.getHours()+1;
		if (lh > 23) lh = "00";
		later = lh+":"+d.getMinutes();
		document.getElementById('edit_id').value = 'new';
		document.getElementById('edit_startdate').value = "{{ date }}";
		document.getElementById('edit_starttime').value = now;
		document.getElementById('edit_enddate').value = "{{ date }}";
		document.getElementById('edit_endtime').value = later;
		document.getElementById('edit_summary').value = "New Event";
		document.getElementById('DeleteButton').style.visibility = "hidden";
		FadeIn('divEdit', 0);
		document.getElementById('edit_start').focus();
		}

	function DeleteEvent() {
		summary = document.getElementById('edit_summary').value;
		if (confirm('Really delete event "'+summary+'" ?')) {
			FadeOut('divEdit',1);
			id = document.getElementById('edit_id').value;
			window.location.href = "delete?id="+id;
			}
		}

	document.onkeydown = function(evt) {
	    evt = evt || window.event;
	    if (evt.keyCode == 27) {
		FadeOut('divEdit',1);
	    }
	};
</script>

